<div class="tribox">
	<search-box ng-show="One" info="compareOne" search="search"></search-box>
	<div ng-hide="One" ng-click="clearCompare('One')"><i class="fa fa-times-circle"></i></div>

	<div ng-repeat="period in compareOne.weather">
		<div>{{period.date.weekday}}</div>
		<i class="wi wi-wu-{{period.icon}} icon"></i>
		<div>{{period.conditions}}</div>
		<div>High: <div>{{period.high.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
		<div>Low: <div>{{period.low.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
	</div>
</div>

<div class="tribox">
	<search-box ng-show="Two" info="compareTwo" search="search"></search-box>

	<div ng-repeat="period in compareTwo.weather">
		<div>{{period.date.weekday}}</div>
		<i class="wi wi-wu-{{period.icon}} icon"></i>
		<div>{{period.conditions}}</div>
		<div>High: <div>{{period.high.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
		<div>Low: <div>{{period.low.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
	</div>
</div>

<div class="tribox">
	<search-box  ng-show="Three"info="compareThree" search="search"></search-box>

	<div ng-repeat="period in compareThree.weather">
		<div>{{period.date.weekday}}</div>
		<i class="wi wi-wu-{{period.icon}} icon"></i>
		<div>{{period.conditions}}</div>
		<div>High: <div>{{period.high.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
		<div>Low: <div>{{period.low.fahrenheit}} <i class="wi wi-fahrenheit"></i></div></div>
	</div>
</div>


<!-- Modal window : hidden by default -->
<modal-box show='modalShown' width='50%' height='50%'>
  	<div class="refineResults">
		<p>We have narrowed your search to the following results.<br>Select a city below, or enter a new search.</p>
		<div ng-repeat="result in refineObj">
			<li>
				<a href="javascript:void(0)" ng-click="weatherForCompare(result.state, result.city, refineObj.source); toggleModal()">
					{{result.city}}, {{result.state}}, {{result.country}}
				</a>
			</li>
		</div>
	</div>
</modal-box>