<search-box info="forecast" search="search"></search-box>

<div class="searchByIP">
Get the forecast outside your door!<br>
	<div ng-click="search('autoip')">Go!</div>
</div>

<!-- <ui-view></ui-view> -->

<modal-box show='modalShown'>
  	<div class="refineResults">
		<p>We have narrowed your search to the following results.<br>Select a city below, or enter a new search.</p>
		<div ng-repeat="result in refineObj">
			<li>
				<a ui-sref="forecast({param1: result.state, param2: result.city})">
					{{result.city}}, {{result.state}}, {{result.country}}
				</a>
			</li>
		</div>
	</div>
</modal-box>